/***********************************/
/* HERO SECTION */
/***********************************/

/***********************************/
/* HEADER */
/***********************************/
.header {
  display: flex;
  background: var(--clr-primary-8);
  align-items: center;
  margin: 0 auto;
  justify-content: center;
  position: relative;
  /* justify-items: center; */
}

.header-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5rem;
  width: 95%;
  max-width: 1300px;
  /* background: red; */
}

.logo {
  height: 1.35rem;
}

/***********************************/
/* NAVIGATION*/
/***********************************/

.main-nav-list {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  color: var(--clr-grey-2);
  font-weight: 500;
  font-size: 1rem;
  transition: var(--transition);
}

.main-nav-link:hover,
.main-nav-link:active {
  color: var(--clr-primary-2);
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 0.75rem 1.5rem;
  border-radius: var(--radius);
  color: #fff;
  background: var(--clr-primary-5);
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background: var(--clr-primary-2);
}

/* MOBILE */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}

.icon-mobile-nav {
  height: 3rem;
  width: 3rem;
  color: var(--clr-grey-0);
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/***********************************/
/* HERO SECTION*/
/***********************************/

/* .main {
  min-height: calc(100vh - 5rem);
} */

.section-hero {
  display: grid;
  place-items: center;
  background: var(--clr-primary-8);
  padding: 3rem 0 5rem 0;
}

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 5rem;
}

.hero-description {
  font-size: 1.25rem;
  line-height: 1.6;
  margin-bottom: 3rem;
}

.delivered-meals {
  display: flex;
  margin-top: 4rem;
  gap: 1rem;
  align-items: center;
}

.delivered-imgs {
  display: flex;
}

.delivered-text {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0;
}

.delivered-text span {
  color: var(--clr-primary-2);
  font-weight: 700;
}

.delivered-imgs img {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  margin-right: -1rem;
  border: 3px solid var(--clr-primary-8);
  object-fit: cover;
}

.delivered-imgs img:last-child {
  margin: 0;
}

/***********************************/
/* FEATURED IN*/
/***********************************/

.section-featured {
  padding: 1rem 0 1rem 0;
}

.heading-featured-in {
  font-size: 0.75rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: 500;
  margin-bottom: 0.5rem;
  padding: 2rem 0;
  color: var(--clr-grey-4);
}

.logos {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
  padding: 0 2rem;
}

.fetaured-logo {
  height: 2rem;
  object-fit: contain;
  filter: brightness(0);
  opacity: 60%;
}

/***********************************/
/* HOW IT WORKS*/
/***********************************/

.step-img-box {
  /* display: grid;
  justify-items: center;
  align-items: center; */
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.step-img-box::before,
.step-img-box::after {
  content: "";
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* height: 60%; didnt work */

  position: absolute;
  border-radius: 50%;
}

.step-img-box::before {
  width: 60%;
  padding-bottom: 60%;
  background: var(--clr-primary-8);
  z-index: -2;
}

.step-img-box::after {
  width: 45%;
  padding-bottom: 45%;
  background: var(--clr-primary-7);
  z-index: -1;
}

.step-img-box .step-img {
  width: 35%;
  /* position: relative; */
}

.step-number {
  font-size: 5.2rem;
  font-weight: 600;
  color: var(--clr-grey-8);
  margin-bottom: 0.75rem;
}

.step-description {
  font-size: 1rem;
  line-height: 1.8;
}

/***********************************/
/* MEAL SECTION*/
/***********************************/

.meal {
  box-shadow: var(--light-shadow);
  transition: var(--transition);
  border-radius: var(--radius);
}

.meal-img {
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
}

.meal:hover {
  transform: translateY(-0.75rem);
  box-shadow: var(--dark-shadow);
}

.meal-text-box {
  padding: 2rem 3rem 3rem 3rem;
}

.meal-title {
  font-size: 1.5rem;
  color: var(--clr-grey-0);
  font-weight: 600;
  margin-bottom: 2rem;
}

.meal-tags {
  margin-bottom: 0.75rem;
  display: flex;
  gap: 4px;
}

.tag {
  display: inline-block;
  padding: 0.25rem 0.5rem;
  font-size: 0.75rem;
  text-transform: uppercase;

  color: var(--clr-grey-1);
  border-radius: 100px;
  font-weight: 600;
}

.tag--vegetarian {
  background: #51cf66;
}

.tag--vegan {
  background: #94d82d;
}

.tag--paleo {
  background: #fcc419;
}

.meal-attributes {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.meal-attribute {
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.meal-icon {
  font-size: 1.5rem;
  color: var(--clr-primary-5);
}

.all-recipes {
  text-align: center;
  font-size: 1.1rem;
}

/***********************************/
/* TESTIMONIALS SECTION*/
/***********************************/

.section-testimonials {
  background: var(--clr-primary-8);
  display: grid;
  grid-template-columns: 60fr 40fr;
  align-items: center;
}

.testimonials {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 3rem;
  column-gap: 4.5rem;
}

.testimonials-container {
  padding: 5.5rem;
}

.testimonials .testimonial-img {
  width: 4rem;
  border-radius: 50%;
  margin-bottom: 0.75rem;
}

.testionial-text {
  font-size: 1.1rem;
  line-height: 1.8;
  margin-bottom: 1rem;
}

.testimonial-name {
  font-size: 1rem;
  color: var(--clr-grey-7);
  margin-bottom: 0;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 1rem;
}

.gallery-item {
  overflow: hidden;
}

.gallery-item .gallery-img {
  height: 100%;
  object-fit: cover;
  transition: var(--transition);
}

.gallery-img:hover {
  transform: scale(1.1);
}

/***********************************/
/* PRICING AND FEATURES*/
/***********************************/

.pricing-plan {
  border-radius: var(--radius);
  padding: 3rem;
  width: 75%;
}

.pricing-plan--starter {
  justify-self: end;
  border: 2px solid var(--clr-primary-8);
}

.pricing-plan--complete {
  background: var(--clr-primary-8);
  border: 2px solid transparent;
  position: relative;
  overflow: hidden;
}

.pricing-plan--complete::after {
  content: "Best Value";
  position: absolute;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: bold;
  top: 6%;
  right: -18%;
  background: #ffd43b;
  padding: 8px 5rem;
  transform: rotate(45deg);
}

.plan-header {
  text-align: center;
  margin-bottom: 3rem;
}

.plan-name {
  color: var(--clr-primary-2);
  font-weight: 600;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  margin-bottom: 1rem;
}

.plan-price {
  font-size: 3.85rem;
  font-weight: 600;
  color: var(--clr-grey-1);
  margin-bottom: 0.5rem;
}

.plan-price span {
  font-size: 1.8rem;
  font-weight: 500;
  margin-right: 0.5rem;
}

.plan-text {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 0;
}

.pricing--list {
  min-height: 10.5rem;
}

.plan-sign-up {
  text-align: center;
  margin-top: 3rem;
}

.plan-details {
  font-size: 1rem;
  color: var(--clr-grey-2);
  line-height: 1.6;
  text-align: center;
}

.feature-icon {
  color: var(--clr-primary-5);
  /* font-size: 1.5rem; */
  height: 1.5rem;
  width: 1.5rem;
  background: var(--clr-primary-8);
  padding: 0.75rem;
  border-radius: 50%;
  margin-bottom: 2rem;
}

.feature-title {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--clr-grey-2);
  margin-bottom: 1rem;
}

.feature-text {
  font-size: 1.1rem;
  line-height: 1.8;
}

/***********************************/
/* CTA*/
/***********************************/

.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background: var(--clr-primary-2);
  box-shadow: var(--light-shadow);
  transition: var(--transition);
  border-radius: var(--radius);

  background: linear-gradient(to right bottom, #eb984e, var(--clr-primary-5));
  overflow: hidden;
}

.cta-text-box {
  color: #45260a;
  padding: 4rem;
  padding-top: 3rem;
}

.cta-text-box .heading-secondary {
  margin-bottom: 2rem;
}

.cta-text {
  color: #45260a;
  font-size: 1.1rem;
  line-height: 1.8;
  margin-bottom: 3rem;
}

.cta-img-box {
  background-image: linear-gradient(
      to right bottom,
      rgba(235, 151, 78, 0.35),
      rgba(230, 125, 34, 0.35)
    ),
    url("../img/eating.jpg");
  background-size: cover;
  background-position: center;
}

.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
  row-gap: 1.8rem;
}

.form-row label {
  display: block;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0.75rem;
}

.form-row input,
.form-row select {
  display: inline-block;
  width: 100%;
  padding: 0.75rem;
  border-radius: var(--radius);
  border: none;
  font-size: 1.1rem;
  font-family: inherit;
  background: var(--clr-primary-8);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  color: inherit;
}

.form-row input::placeholder {
  color: #aaa;
}

.form-btn {
  background: #45260a;
  text-transform: capitalize;
  color: #fdf2e9;
  align-self: end;
  font-size: 1.1rem;
  padding: 0.75rem;
  /* height: 2.875rem; */
  border: transparent;
}

.form-btn:hover {
  background: #fff;
  color: inherit;
}

.cta *:focus {
  outline: none;

  box-shadow: 0 0 0 8px rgba(253, 242, 233, 0.5);
}

.section-cta {
  padding-top: 3rem;
  padding-bottom: 8rem;
}

/***********************************/
/* FOOTER*/
/***********************************/
.footer {
  padding: 8rem 0;
  border-top: 1px solid #eee;
}

.footer-grid {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}

.footer-logo {
  display: block;
  margin-bottom: 2.5rem;
}

.logo-col {
  display: flex;
  flex-direction: column;
}

.social-links {
  display: flex;
  gap: 1.5rem;
}

.social-icon {
  height: 1.5rem;
  width: 1.5rem;
}

.copy-right {
  font-size: 0.8rem;
  color: #767676;
  line-height: 1.6;
  margin-top: auto;
  margin-bottom: 0;
}

.footer-heading {
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: 2.5rem;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.footer-link:link,
.footer-link:visited,
.contacts p {
  font-size: 0.9rem;
  color: #767676;
  transition: var(--transition);
}

.footer-link:hover,
.footer-link:active {
  font-size: 0.9rem;
  color: #555;
}

.contacts {
  font-style: normal;
  font-size: 0.95rem;
  line-height: 1.6;
}

.address {
  margin-bottom: 1.5rem;
}
